HEROKU_URL=""

HUBOT_OFF_THE_GRID_LOCATION_ID=""

HUBOT_SLACK_BOTNAME="sab"
HUBOT_SLACK_TEAM=""
HUBOT_SLACK_TOKEN=""

HUBOT_SOUNDSPACES_ROOM_KEY=""
HUBOT_SOUNDSPACES_BASE_SOUND_URL=""
HUBOT_SOUNDSPACES_SOUND_URL="http://soundspac.es/play/"

MONGOLAB_URI=""
